<nav
  class="navbar navbar-dark bg-primary fixed-top"
  style="background-color: #56876d !important;"
>
  <a class="navbar-brand" routerLink="/"
    ><img
      src="https://images.vexels.com/media/users/3/131779/isolated/preview/3d4929d289ad98ad71637d5c257d2f08-logo-de-pizza-1-by-vexels.png"
      style="height: 44px; width: 44px;"
      alt=""
  /></a>
  <a *ngIf="appService.isLogged()" style="float: right;">
    <button class="btn btn-danger" (click)="logOut()">
      Salir
    </button>
  </a>
  <a routerLink="/cart">
    <button class="btn btn-danger" routerLink="/cart">
      <i class="fas fa-shopping-cart"></i>
    </button>
  </a>
</nav>
