<div class="live-chat-container rounded">
  <div class="btn btn-info" style="cursor: pointer;" (click)="open()">
    Live Chat
  </div>
  <div class="chat row" [class.d-none]="close">
    <div class="chat-header col-12 p-0">
      <div class="header">
        Chat
      </div>
    </div>
    <div class="chat-history col-12">
      <div class="container">
        <div *ngFor="let mensaje of mensajes" class="row message">
          <div class="send-message">
            {{ mensaje.user }}: {{ mensaje.mensaje }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-10 p-0">
      <input
        type="text"
        class="w-100"
        style="height: 25px;"
        [(ngModel)]="mensaje"
      />
    </div>
    <div class="col-2">
      <i
        class="fas fa-paper-plane"
        style="cursor: pointer;"
        (click)="sendMessage()"
      ></i>
    </div>
  </div>
</div>
