<div class="live-chat-container rounded">
  <div class="btn btn-info">Live Chat</div>
  <div class="chat row">
    <div class="chat-header col-12 p-0">
      <div class="header">
        Chat
      </div>
    </div>
    <div class="chat-history col-12">
      <div class="container">
        <div class="row message">
          <div class="send-message">Usuario dice: Hola</div>
        </div>
        <div class="row message">
          <div class="recieved-message">
            Usuario dice: Como estas
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 p-0">
      <input type="text" class="w-100" />
    </div>
  </div>
</div>
