<div class="container-fluid h-100">
  <login [(show)]="show"></login>
  <div class="row h-100">
    <div
      class="col-12 col-md-8 h-100"
      style="background-color: #a52422; overflow-y: auto;"
    >
      <div class="card mb-3" *ngFor="let menu of cart">
        <div class="row no-gutters">
          <button
            class="btn btn-sm btn-danger"
            (click)="delete(menu.id)"
            style="position: absolute; left: calc(100% - 30px); z-index: 100;"
          >
            <i class="far fa-trash-alt"></i>
          </button>
          <div class="col-md-4">
            <img
              src="https://cdn2.cocinadelirante.com/sites/default/files/styles/gallerie/public/images/2017/04/pizzapepperoni0.jpg"
              class="card-img"
              alt="..."
            />
          </div>
          <div class="col-md-8 d-flex" style="flex-wrap: wrap;">
            <div class="card-body">
              <h5 class="card-title">{{ menu.name }}</h5>
              <p class="card-text">
                {{ menu.description }}
              </p>
              <p class="card-text"></p>
            </div>
            <div class="card-footer w-100">
              <div class="d-flex justify-content-between row">
                <div class="col-md-6 col-12 row">
                  <div class="col-12 col-md-7">
                    <h3 style="display: inline;">Cantidad:</h3>
                  </div>
                  <div class="col-12 col-md-5">
                    <input
                      type="number"
                      class="form-control"
                      style="display: inline; margin-left: 15px;"
                      [(ngModel)]="menu.qt"
                      min="1"
                    />
                  </div>
                </div>
                <div class="col-md-6 col-12 row">
                  <div class="col-12 col-md-7">
                    <h3 style="display: inline;">Subtotal:</h3>
                  </div>
                  <div class="col-12 col-md-5">
                    <input
                      type="number"
                      class="form-control"
                      style="display: inline; margin-left: 15px;"
                      disabled
                      value="{{ menu.qt * menu.price }}"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-12 col-md-4"
      style="background-color: white; position: sticky; top: 0; bottom: 0;"
    >
      <div class="h-100">
        <div class="row">
          <div class="col-12">
            <h1><b>Factura:</b></h1>
          </div>

          <hr style="width: 100%; background-color: black; margin: 0;" />
          <div class="col-6" style="font-size: 35px;">
            TOTAL:
          </div>
          <div
            class="col-6 d-flex justify-content-center align-items-center"
            style="font-size: 35px;"
          >
            {{ getTotal() }}
          </div>
          <hr style="width: 100%; background-color: black; margin: 0;" />
        </div>


          <form [formGroup]="addressForm" (ngSubmit)="sendOrder(addressForm.value)" autocomplete="off" >

            <div >
              <label>Direccion de envio</label>
              <input formControlName="address" type="text" class="form-control" id="address" required name="address">    
            </div>

            <div style="height: calc(100% - 162px);" class="w-100 d-flex align-items-center" >
              <button *ngIf="!isLogged()" class="btn btn-success w-100 mt-1 mb-1" (click)="login()" >
                Iniciar Sesion para realizar 
              </button>
            </div>

            <div *ngIf="isLogged()" class="container">
              <div class="row">
                <div class="col-12">
                  <button *ngIf="isLogged() && this.cart.length" class="btn btn-info w-100 mt-1 mb-1">
                    Realizar compra
                  </button>
                </div>
              </div>
            </div>
          </form> 

                <br />
                <div class="col-12 text-center" *ngIf="isLogged()">
                  Recibiras un correo en : {{ getEmail() }}
                </div>        
      </div>
    </div>
  </div>
</div>