.container-fluid {
  margin-top: 70px;
  height: calc(100vh - 70px) !important;
}

.card {
  margin: 15px;
}

body {
  background-color: white;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}
