<div class="dashboard-container">
  <div class="sidebar-container">
    <div class="sidebar-logo">
      Pizzeria
    </div>
    <ul class="sidebar-navigation">
      <li class="header">Menu</li>
      <li>
        <a href="#"> <i class="fa fa-home" aria-hidden="true"></i> Homepage </a>
      </li>
    </ul>
  </div>

  <div class="content-container">
    <div class="container-fluid">
      <!-- Main component for a primary marketing message or call to action -->
      <menu-admin></menu-admin>
    </div>
  </div>
</div>
